<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}
  </h1>
 
</div>
<h2>Ingrese si es UF o UTM y la fecha:</h2>
<br>
<div>
  <label>Tipo de valor: 
    <input [(ngModel)]="type" placeholder="UF o UTM">
  </label>
      
</div>
<br>
<div>
  <label>Fecha para la UF:
    <input [(ngModel)]="date" placeholder="Fecha">
  </label>
  <br><br>
  <button (click)="do()">Consultar</button>
  <h2>Valor en pesos:{{value}}</h2>
</div>